## Before we begin

To talk to a MySQL database, you need to have a mysql "client".  **I have already installed this for you!**  But if you ever need to do it yourself, the commands are:


        sudo apt-get update
        sudo apt-get install mysql-client

# Introduction to Databases and Structured Query Language (SQL)

As Data Scientists, you will frequently want to store data in an organized, structured manner that allows you to do complex queries.  Because you are good Data Scientists, [**you do not use Excel!!!**](https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-5-80)

In this course, we will only discuss **Relational Databases**, because those are the most common in bioinformatics.  (There are other kinds!!).  So when I say "database" I mean "relational database".

Databases are used to store information in a manner that, when used properly, is:
  a) highly structured
  b) constrained (i.e. detects errors)
  c) transactional (i.e. can undo a command if it discovers a problem)
  d) indexed (for speed of search)
  e) searchable
  
The core concept of a database is a **Table**.  Tables contain one particular "kind" of information (e.g. a Table could represent a Student, a University, a Book, or a portion of a Clinical Record.

Tables contain **Rows** and **Columns** where, generally, every column represents a "feature" of that information (e.g. a Student table might have **["name", "gender", "studentID", "age"]** as its columns/features).  Every row represents an "individual", and their values for each feature (e.g. a Row in a Student table might have **["Mark Wilkinson", "M", "163483", "35"]** as its values.

A Database may have many Tables that represent various kinds of related information.  For example, a library database might have a Books table, a Publishers table, and a Locations table.  A Book has a Publisher, and a Location, so the tables need to be connected to one another.  This is achieved using **keys**.  Generally, every row (individual) in a table has a unique identifier (generally a number), and this is called its **key**.  Because it is unique, it is possible to refer unambiguously to that individual record.

I think the easiest way to learn about databases and SQL is to start building one!  We will use the MySQL Docker Container that we created in the previous lesson.  We are going to create a Germplasm database (seed stocks).  It will contain information about the seed (its amount, its harvest date, its location), the germplasm (its species, the allele it carries), and about the genetics related to that allele (the gene_id, the gene name, the protein name, and a link to the GenBank record)

(if that Docker Container isn't running, please **docker start course-mysql** now!)

**Note:  This Jupyter Notebook is running the Python kernel.  This allows us to use some nice tools in Python (the sql extension and SqlMagic) that provide access to the mysql database server from inside of the Notebook.  You don't need to know any Python to do this.  Note also that you can do exactly the same commands in your Terminal window.**

To connect to the MySQL Docker Container from your terminal window, type:

     mysql -h 127.0.0.1 -P 3306 --protocol=tcp -u root -p
 
(then enter your password 'root' to access the database)
 
<pre>


</pre>
# SQL

Structured Query Language is a way to interact with a database server.  It is used to create, delete, edit, fill, and query tables and their contents.  

First, we will learn the SQL commands that allow us to explore the database server, and create new databases and tables..  Later, we will use SQL to put information into those tables.  Finally, we will use SQL to query those tables.

## Python SQL Extension

The commands below are used to connect to the MySQL server in our Docker Container.  You need to execute them ONCE.  In every subsequent Juputer code window, you will have access to the database.

all SQL commands are preceded by 

     %sql 
     
(**only in the Python extension!  Not in your terminal window!**)

all SQL commands end with a ";"

In [ ]:
%load_ext sql
#%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

            
        #%sql mysql+pymysql://anonymous@ensembldb.ensembl.org/homo_sapiens_core_92_38

## show databases

**show databases** is the command to see what databases exist in the server.  The ones you see now are the default databases that MySQL uses to organize itself.  _**DO NOT TOUCH THESE DATABASES**_  **EVER EVER EVER EVER**

In [ ]:
%sql show databases;

## create database

The command to create a database is **create database** (surprise!  ;-) )

We will create a database called "germplasm"

In [ ]:
%sql create database germplasm;
%sql show databases

## use database_name

the **use** command tells the server which database you want to interact with.  Here we will use the database we just created

In [ ]:
%sql use germplasm;

## show tables

The show tables command shows what tables the database contains (right now, none!)

In [ ]:
%sql show tables;

# Planning your data structure

This is the hard part.  What does our data "look like" in a well-structured, relational format?

Starting simply:

<center>stock table</center>

  amount  |  date  |  location  
 --- | --- | --- 
  5  | 10/5/2013 |  Room 2234  
  9.8  | 12/1/2015 |  Room 998  


-----------------------------


<center>germplasm table</center>

  taxonid  |  allele
 --- | --- 
  4150  | def-1
  3701  | ap3
  
--------------------------------

<center>gene table</center>

  gene  |  gene_name  |  embl
 --- | ---  | --- 
  DEF  | Deficiens  | https://www.ebi.ac.uk/ena/data/view/AB516402
  AP3  | Apetala3   |   https://www.ebi.ac.uk/ena/data/view/AF056541

## add indexes

It is usually a good idea to have an index column on every table, so let's add that first:


<center>stock table</center>

id  |  amount  |  date  |  location  
---  | --- | --- | --- 
1   |  5  | 10/5/2013 |  Room 2234  
2   |   9.8  | 12/1/2015 |  Room 998  


-----------------------------


<center>germplasm table</center>

id  |  taxonid  |  allele
--- |  --- | --- 
1  |  4150  | def-1
2  |   3701  | ap3
  
--------------------------------

<center>gene table</center>

id  |  gene  |  gene_name  |  embl
--- | --- | ---  | --- 
1  |  DEF  | Deficiens  | https://www.ebi.ac.uk/ena/data/view/AB516402
2  |  AP3  | Apetala3   |   https://www.ebi.ac.uk/ena/data/view/AF056541

##  find linkages

* Every germplasm has a stock record.  This is a 1:1 relationship.
* Every germplasm represents a specific gene.  This is a 1:1 relationship

So every germplasm must point to the index of a stock, and also to the index of a gene

Adding that into our tables we have:



<center>stock table</center>

id  |  amount  |  date  |  location  
---  | --- | --- | --- 
1   |  5  | 10/5/2013 |  Room 2234  
2   |   9.8  | 12/1/2015 |  Room 998  


-----------------------------


<center>germplasm table</center>

id  |  taxonid  |  allele  |  stock_id  |  genetics_id
--- |  --- | ---  | --- | ---
1  |  4150  | def-1  | 2   |  1
2  |   3701  | ap3   | 1   |  2
  
--------------------------------

<center>gene table</center>

id  |  gene  |  gene_name  |  embl
--- | --- | ---  | --- 
1  |  DEF  | Deficiens  | https://www.ebi.ac.uk/ena/data/view/AB516402
2  |  AP3  | Apetala3   |   https://www.ebi.ac.uk/ena/data/view/AF056541

## data types in MySQL

I will not discuss [all MySQL Datatypes](https://dev.mysql.com/doc/refman/5.7/en/data-types.html), but we will look at only the ones we need.  We need:

* Integers (type INTEGER)
* Floating point (type FLOAT)
* Date  (type DATE [in yyyy-mm-dd format](https://dev.mysql.com/doc/refman/5.7/en/datetime.html) )
* Characters (small, variable-length --> type [VARCHAR(x)](https://dev.mysql.com/doc/refman/5.7/en/char.html) )

<pre>


</pre>
## create table 

tables are created using the **create table** command (surprise!)

The [syntax of create table](https://dev.mysql.com/doc/refman/5.7/en/create-table.html) can be quite complicated, but we are only going to do the most simple examples.

    create table table_name (column_name column_definition, column_name column_definition, ........)
    
column definitions include the data-type, and other options like if it is allowed to be null(blank), or if it should be treated as an "index" column.

Examples are easier to understand than words... so here are our table definitions:

In [ ]:
#%sql drop table stock
%sql CREATE TABLE stock(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, amount FLOAT NOT NULL, date DATE NOT NULL, location VARCHAR(20) NOT NULL);
%sql DESCRIBE stock

In [ ]:
#%sql drop table germplasm
%sql CREATE TABLE germplasm(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, taxonid INTEGER NOT NULL, allele VARCHAR(10) NOT NULL, stock_id INTEGER NOT NULL, gene_id INTEGER NOT NULL);
%sql DESCRIBE germplasm

In [ ]:
#%sql drop table gene
%sql CREATE TABLE gene(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, gene VARCHAR(10) NOT NULL, gene_name VARCHAR(30) NOT NULL, embl VARCHAR(70) NOT NULL);
%sql DESCRIBE gene

In [ ]:
%sql show tables;

## loading data

There are many ways to import data into MySQL.  If you have data in another (identical) MySQL database, you can "dump" the data, and then import it directly.  If you have tab or comma-delimited (tsv, csv) you can **sometimes** import it directly from these formats.  You can also enter data using SQL itself.  This is usually the safest way, when you have to keep multiple tables synchronized (as we do, since the germplasm table is "linked to" the other two tables)

## insert into

The command to load data is:

    insert into table_name (field1, field2, field3) values (value1, value2, value3)
    
Now... what data do we need to add, in what order?

The germplasm table needs the ID number from both the gene table and the stock table, so we cannot enter the germplasm information first.  We must therefore enter the gene and stock data first.

In [ ]:
# NOTE - we DO NOT put data into the "id" column!  This column is auto_increment, so it "magically" creates its own value
%sql INSERT INTO gene (gene, gene_name, embl) VALUES ('DEF', "Deficiens", 'https://www.ebi.ac.uk/ena/data/view/AB516402');
%sql INSERT INTO gene (gene, gene_name, embl) VALUES ('AP3', "Apetala3", 'https://www.ebi.ac.uk/ena/data/view/AF056541');

In [ ]:
%sql SELECT last_insert_id();  # just to show you that this function exists!

In [ ]:
%sql INSERT INTO stock(amount, date, location) VALUES (5, '2013-05-10', 'Room 2234');
%sql INSERT INTO stock(amount, date, location) VALUES (9.8, '2015-01-12', 'Room 998');

#### Almost ready!  

We now need to know the index numbers from the stock and gene databases that correspond to the data for the germplasm table.  For this, we need to learn another function:  **select**

## Select statements

**Select** is the command used to query the database.  We will look in more detail later, but now all you need to know is that the most basic structure is:

     select * from table_name

In [ ]:
%sql SELECT * FROM stock;  # notice that the id number was automatically generated

In [ ]:
%sql SELECT * FROM gene;

<pre>


</pre>

Just a reminder, our germplasm data is:

id  | 	taxonid  |  allele  | 	stock_id  |	gene_id
--- | --- | --- | --- | --- |
1 	 | 4150 	|def-1 	
2 	| 3701 |	ap3 	


We need to connect the *germplasm* table **gene_id** to the appropriate **id** from the *gene* table.  i.e.

    def-1 allele  --->  DEF gene  (id = 1)
    ap3 allele  --->  AP3 gene  (id = 2)
   
We need to connect the *germplasm* table **stock_id** to the appropriate **id** from the *stock* table.  i.e.

    def-1 allele  --->  Room 998 (id = 2)
    ap3 allele  --->  Room 2234  (id = 1)

Now we are ready to do our ("manual") insert of data into the *germplasm* table:

In [ ]:
%sql INSERT INTO germplasm (taxonid, allele, stock_id, gene_id) VALUES (4150, 'def-1', 2, 1 );
%sql INSERT INTO germplasm (taxonid, allele, stock_id, gene_id) VALUES (3701, 'ap3', 1, 2 );

In [ ]:
%sql SELECT * FROM germplasm;


## SQL UPDATE  &  SQL WHERE

Imagine that we are going to plant some seed from our def-1 germplasm.  We need to update the *stock* record to show that there is now less seed available.  We do this using an [UPDATE statement](https://www.techonthenet.com/mysql/update.php).  UPDATE is used to change the values of a particular column or set of columns.  But we don't want to change **all** of the values in that column, we only want to change the values for the DEF stock.  For that, we need a WHERE clause.  

WHERE allows you to set the conditions for an update.  The general form is:

     UPDATE table_name SET column = value WHERE column = value;
     
We will sow 1g of seed from DEF  (stock.id = 2)   (note that I am now starting to use the MySQL syntax for referring to *table*.**column** - the tablename followed by a "." followed by the column name).

The simplest UPDATE statement is:

In [ ]:
%sql UPDATE stock SET amount = 8.8 WHERE id = 2;
%sql SELECT * FROM stock;


<pre>

</pre>
This simple solution is not very "friendly"... you are asking the database user to already know what the remaining amount is!  It would be better if we simply reduced the amount by 1g.  

That is done using in-line equations, like this:

In [ ]:
%sql UPDATE stock SET amount = amount-1 WHERE id = 2;
%sql SELECT * FROM stock;

<pre>


</pre>
## Using indexes and 'joining' tables

The UPDATE we did is still not very friendly!  My stock table does not have any information about what gene or allele is in that stock, so we have to **know** that the stock record is stock.id=2.  This is bad!

It would be better if we could say "plant 1 gram of the stock that represents gene record DEF", but that information exists in two different tables.  How do we join tables?

This is the main purpose of the "id" column.  Note that, when we defined that column, we said that it is "auto_increment, not null, primary key", meaning that every record must have an id, and every id must be unique (NOTE: an auto-increment id *should never be manually modified/added*!!!  <span style="color:red;">You Have Been Warned!!!</span>).  Being a 'primary key' means that this column was intended to be the "pointer" from other tables in the database (like our germplasm table, that points to the id of the stock, and the id of the gene, tables)

When using UPDATE with multiple tables, we must name all of the tables, and then make the connection between them in the "where" clause, using *table*.**column** notation.  

The update clause below shows how this is done (a "\\" character means that the command continues on the next line):

In [ ]:
%sql UPDATE stock, germplasm SET stock.amount = stock.amount-1 \
WHERE \
stock.id = germplasm.stock_id \
AND \
germplasm.allele = 'def-1';              
 
%sql SELECT * FROM stock;

<pre>

</pre>
# Challenges for you!

1. (hard) when we plant our seeds, we should update both the quantity, and the date.  What does that UPDATE statement look like?

2. (very hard!) when we plant our seed, instead of using the allele designation (def-1) I want to use the gene designation (DEF).  This query spans **all three tables**.  What does the UPDATE statement look like?

<span style="visibility:hidden;">
    Challenge 1
    %sql UPDATE stock,germplasm SET stock.amount=stock.amount-1, stock.date="2018-09-06" WHERE \
     stock.id = germplasm.stock_id AND \
     germplasm.allele='def-1';
    Challenge2
%sql UPDATE stock,germplasm,gene SET stock.amount=stock.amount-0.2, stock.date="2018-09-06" WHERE \
     stock.id = germplasm.stock_id AND \
     gene.id = germplasm.gene_id AND \
     gene.gene='DEF';   
</span>

In [ ]:
# challenge 1

In [ ]:
# challenge 2

<pre>


</pre>

# SELECT queries

Querying the data is the most common operation on a database.  You have seen simple SELECT queries, but now we will look at more complex ones.

The general structure is:

     SELECT table1.column1, ... FROM table1, ... WHERE condition1 [AND|OR] condition2....
     
You probably understand this enough to show you the query that will show you all of the data:

In [ ]:
%sql SELECT * FROM gene, stock, germplasm WHERE \
     germplasm.stock_id = stock.id AND \
     germplasm.gene_id = gene.id;


# Dealing with missing records - JOIN clauses

**Credit for the Venn diagrams used in this section goes to [Flatiron School](https://learn.co/) and are linked from their tutorial on [JOINs in SQL](https://learn.co/lessons/sql-complex-joins-readme) published under the [CC-BY-NC 4.0 license](https://creativecommons.org/licenses/by-nc-sa/4.0/)**

Your first database will probably be complete, and perfect!  You will be very proud of it! ;-)

Over time, things will happen.  Records will be deleted, and records will be added where there is incomplete information, for example, a germplasm stock record where the gene is unknown.  You should think about these situations, because there are NO RULES telling you what you should do!  You have to make a decision - a *policy* for your database - and you should follow that policy like a religion!

For example:

*  If there is no known gene for a given germplasm, what does in the stock.allele column?  What goes in the stock.gene_id column?  What goes in the gene table?  Discuss....
*  If a stock is fully planted - no more seeds - what do you do?  Should you delete the record?  If you do, then your germplasm table is linked through the stock_id to a stock that no longer exists.  If you gather more seed in the future, is that the same stock?  (answer:  NO, it is not!!!).... so do you update the existing stock record to say there is now 10g of seed?  
*  Remember, you are trapped!  In your table definition you declared all columns to be "NOT NULL", meaning that if the row exists, there must be a value for each column in the row!  What do you do if there isn't a value to put into that column?  
  *  zero?  
  *  What if you change the column definition to allow NULL?
  *  What does NULL mean?  What does zero mean?  
  *  How does software respond to NULL or zero values?  (you don't know this yet, but we can talk about it)


For our database, I am going to suggest this policy:
1. if we don't know the allele, we put "unknown" in the allele column
2. We put '0' into the gene_id column (auto_increment starts with 1 in the gene table, so a 0 will match nothing!)  
3. We DO NOT add a gene record at all.

Let's add a record like this one to our database:

In [ ]:
%sql INSERT INTO stock(amount, date, location) VALUES (23, '2018-05-12', 'Room 289');
%sql INSERT INTO germplasm (taxonid, allele, stock_id, gene_id) VALUES (4150, 'unknown', LAST_INSERT_ID(), 0 );
# note that I am using LAST_INSERT_ID to capture the auto_increment value from the stock table insert
# this ensures that the germplasm and stock tables are 'synchronized'
%sql SELECT * FROM germplasm;
#%sql SELECT * FROM gene;

<pre>

</pre>
That looks good!  ...but we have just created a problem!  gene_id=0 doesn't exist in the gene table, so what happens with our beautiful SELECT query that we just created above?

In [ ]:
%sql SELECT * FROM gene, germplasm WHERE \
     germplasm.gene_id = gene.id;


### OH CRAP!!!!  We lost our data!!

Our "unknown" germplasm has disappeared!!  Or has it?

The problem is that stock.gene_id = gene.id failed for the "unknown" record, and so it isn't reflected in the output from the query.  THIS IS BAD, if (for example) you were trying to take an inventory of all germplasm stocks you had!  

How do we solve this?  The answer is to use SQL's "JOIN" instruction.

There are four kinds of JOIN:  INNER, LEFT OUTER, RIGHT OUTER, and FULL OUTER.

The join we are doing with our current SELECT query is an INNER join.  Using a Venn diagram, the query looks like this:

<a href='https://learn.co/lessons/sql-complex-joins-readme'><img src='http://readme-pics.s3.amazonaws.com/Inner%20Join%20Venn%20Diagram.png' width=300px/></a>


Effectively, the intersection where BOTH the 'left' (gene.id) and 'right' (germplasm.id) are true.

You can duplicate this behavior using the INNER JOIN instruction.  The syntax is a little bit different - look:

In [ ]:
%sql SELECT * FROM gene INNER JOIN germplasm ON \
     germplasm.gene_id = gene.id;

<pre>


</pre>
What we want is a query that allows one side to be "missing/absent/NULL", but the other side to exist.

Perhaps we need a "LEFT JOIN"?

    ... gene LEFT JOIN germplasm ...


Again, in this situation, "LEFT" means the table on the Left side of the SQL JOIN statement (gene)

As a Venn diagram, Left joins look like this (ignore the :

<a href='https://learn.co/lessons/sql-complex-joins-readme'><img src='http://readme-pics.s3.amazonaws.com/Left%20Outer%20Join%20Venn%20Diagram.png' width=300px/></a>

What it means is that, **in addition to the perfect matches at the intersection**, the record on the left (the gene record) should be included in the result set, **even if it doesn't match** with a germplasm record (on the right).  Is that the solution to our problem?

In [ ]:
%sql SELECT * FROM gene LEFT JOIN germplasm ON \
     germplasm.gene_id = gene.id;

## PFFFFFF!!   No, that was not the solution

Why?

What about a RIGHT JOIN?

    ... gene RIGHT JOIN germplasm ...

<a href='https://learn.co/lessons/sql-complex-joins-readme'><img src='http://readme-pics.s3.amazonaws.com/Right%20Outer%20Join%20Venn%20Diagram.png' width=300px/></a>



Again, in this situation, "RIGHT" means the table on the Right side of the SQL JOIN statement (germplasm).  So the germplasm record should be included in the result set, even if a gene record does not exist.  ...that sounds much more likely to be correct!

In [ ]:
%sql SELECT * FROM gene RIGHT JOIN germplasm ON \
     germplasm.gene_id = gene.id;

### Voila!!


## Your turn

1)  Create another record, where in this case, there is no **stock**, but there is a germplasm and a gene record.  
2)  Create the JOIN query between germplasm and stock that includes all germplasm records

<pre>


</pre>
# Other SELECT "magic"

You can do many other useful things with SELECTS, such as:

## COUNT()

If you want to count the number of records returned from a query, use the **COUNT() AS your_name** function:

In [ ]:
%sql SELECT COUNT(*) AS "Number Of Matches" FROM gene RIGHT JOIN germplasm ON \
     germplasm.gene_id = gene.id;

## SUM(), AVG(), MAX()

You can do mathematical functions on results also, for example, you can take the SUM of a column - how much seed do we have in total?  

(look carefully at this query!  It's quite complicated!):

In [ ]:
%sql SELECT SUM(stock.amount) FROM gene RIGHT JOIN germplasm ON \
     germplasm.gene_id = gene.id \
     INNER JOIN stock ON germplasm.stock_id = stock.id;

<pre>

</pre>
Or you could take the **average AVG()** of a column - what is the average quantity of seed we have?

In [ ]:
%sql SELECT AVG(stock.amount) FROM gene RIGHT JOIN germplasm ON \
     germplasm.gene_id = gene.id \
     INNER JOIN stock ON germplasm.stock_id = stock.id;

<pre>

</pre>
Or you could take the **max MAX()** value of a column - what is the largest quantity of seed we have in our stocks?

In [ ]:
%sql SELECT MAX(stock.amount) FROM gene RIGHT JOIN germplasm ON \
     germplasm.gene_id = gene.id \
     INNER JOIN stock ON germplasm.stock_id = stock.id;

## ORDER BY

You can put your results in a specific order:

In [ ]:
%sql SELECT gene.gene_name, stock.amount FROM gene RIGHT JOIN germplasm ON \
     germplasm.gene_id = gene.id \
     INNER JOIN stock ON germplasm.stock_id = stock.id \
     ORDER BY stock.amount DESC;  # change this to ASC

<pre>


</pre>
## Conclusion

1) Databases are a very powerful way to store structured information - far far better than Excel Spreadsheets!  
2) It will take you years (literally, years!) to become an expert in MySQL!  We have only explored the most common functions here.

In [ ]:
%sql drop database germplasm;