## Using SQL Databases in Python

You can, of course, access databases from your code, not just from Jupyter or the command line.

We will first create a database, and then access it using a Python SQL library.

In [ ]:
%load_ext sql
#%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

In [ ]:
%sql show databases;

In [ ]:
# if you have the germplasm database, please drop it now!
# if not, then move to the next box

%sql drop database germplasm

In [ ]:
%sql create database germplasm;
%sql show databases

In [ ]:
%sql use germplasm;

In [ ]:
#%sql drop table stock
#%sql drop table germplasm
#%sql drop table gene
%sql CREATE TABLE stock(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, amount FLOAT NOT NULL, date DATE NOT NULL, location VARCHAR(20) NOT NULL);
%sql DESCRIBE stock
%sql CREATE TABLE germplasm(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, taxonid INTEGER NOT NULL, alleles VARCHAR(30) NOT NULL, stock_id INTEGER NOT NULL);
%sql DESCRIBE germplasm
%sql CREATE TABLE gene(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, gene VARCHAR(10) NOT NULL, gene_name VARCHAR(30) NOT NULL, germ_id INTEGER NOT NULL, embl VARCHAR(70) NOT NULL);
%sql DESCRIBE gene

In [ ]:
%sql INSERT INTO stock(amount, date, location) VALUES (5, '2013-05-10', 'Room 2234');
%sql INSERT INTO stock(amount, date, location) VALUES (9.8, '2015-1-12', 'Room 998');

%sql INSERT INTO germplasm (taxonid, alleles, stock_id) VALUES (4150, 'def-1', 1 );
%sql INSERT INTO germplasm (taxonid, alleles, stock_id) VALUES (3701, 'ap3 ag', 2 );

%sql INSERT INTO gene (gene, gene_name, germ_id, embl) VALUES ('DEF', "Deficiens", 1, 'https://www.ebi.ac.uk/ena/data/view/AB516402');
%sql INSERT INTO gene (gene, gene_name, germ_id, embl) VALUES ('AP3', "Apetala3", 2, 'https://www.ebi.ac.uk/ena/data/view/AF056541');
%sql INSERT INTO gene (gene, gene_name, germ_id, embl) VALUES ('AG', "Agamous", 2, 'https://www.ebi.ac.uk/ena/data/view/AL161549');

<pre>


</pre>

## Our germplasm database is now set up.

**This data structure is not the same as our previous examples!**

Now we allow a germplasm to be a 'double mutant' (or a 'triple mutant'), so some germplasms connect to multiple genes; the way I modelled this situation is to point from the gene table to the ID of the germplasm table (in our previous table structure, the germplasm table contained the ID of the gene)


**Germplasm table** linked to **Stock table** (one-to-one) (one germplasm point to one stock)


**Gene table** linked to **Germplasm table** (many-to-one) (many genes may be involved in one germplasm)

In [ ]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

#connection.autocommit = False  # note that it is possible to delay putting changes into the database!

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT * FROM stock"
        cursor.execute(sql)
        results = cursor.fetchall()
        print(results)
        print("")
        for result in results:
            print(result['amount']," is located in ",result['location'])
finally:
    print("")
    #connection.close()

In [ ]:

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT * FROM gene"
        cursor.execute(sql)
        results = cursor.fetchall()
        print(results)
        print("")
        for result in results:
            print(result['gene_name'])
finally:
    print("")
    #connection.close()

## Open a new jupyter notebook to Lesson 3  - mySQL section

Try some of the SELECT queries we learned in that lesson.

In [ ]:
# try queries here

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = """SELECT * FROM germplasm, stock, gene WHERE 
     germplasm.stock_id = stock.id AND 
     gene.germ_id = germplasm.id;"""
        cursor.execute(sql)
        results = cursor.fetchall()  # traertodos()
        #print(results)
        #print("")
        for result in results:
            print(result)
            print()
finally:
    print("")
    connection.close

<pre>


</pre>
## You can issue ANY mysql command in this way

Including _create database_, _create table_,  and  _insert_ data commands.

For example:

In [ ]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

#connection.autocommit = False

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "create database testing123"
        cursor.execute(sql)

finally:
    print("")
    connection.close()
    

%sql show databases

In [ ]:
#%sql drop database testing123
%sql show databases

In [ ]:

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

#connection.autocommit = False

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "show databases"
        cursor.execute(sql)
        results = cursor.fetchall()
        print(results)
        for result in results:
            print(result['Database'])
        print("")

finally:
    print("")
    connection.close()

In [ ]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
# PAY ATTENTION HERE!!!!!!!!!!!!!!!
                             db='testing123',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)
#connection.autocommit = False


try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "create table test1(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, data1 VARCHAR(20) NOT NULL )"
        cursor.execute(sql)
        sql = "create table test2(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, otherdata VARCHAR(20) NOT NULL )"
        cursor.execute(sql)
finally:
    print("")
    connection.close()


%sql use testing123
#%sql show tables
#%sql desc test1
%sql desc test2

In [ ]:
%sql show databases

# Insert a new record into the Germplasm database

First, look at the schemas:

In [ ]:
%sql use germplasm
%sql desc gene

In [ ]:
%sql desc stock

In [ ]:
%sql desc germplasm

## test data to show how to retrieve the latest unique ID number:

**Stock**:  amount=5, date=2019-12-12, location=nowhere

(Remember the SQL "last_insert_id()" function!!)

In [ ]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
# PAY ATTENTION HERE!!!!!!!!!!!!!!!
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)
#connection.autocommit = False

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = """INSERT INTO stock (amount, date, location)
        VALUES (5, '2019-12-12', 'nowhere')"""
        cursor.execute(sql)
        sql = "SELECT last_insert_id()"
        cursor.execute(sql)
        results = cursor.fetchall()
        print(results)
        # note that results is a LIST, 
        # so we need to take element 0 then
        # gene_id = results[0]['last_insert_id()']
        print("The unique ID for the last gene entered was {}".format(results[0]['last_insert_id()']))
        stockid = results[0]['last_insert_id()']
        print("STOCK ", stockid)

finally:
    print("")
    connection.close()

## new data:

**Gene**:  gene=WUS, gene_name=WUSCHEL, embl=http://ABC123, **germ_id=??**

**Gene**:  gene=CLV, gene_name=CLAVATA, embl=http://ABC123, **germ_id=??**

**Stock**: amount=10, date=12/09/2018, location=Room990

**Germplasm**:  taxonid=3701, alleles= wus-1 clv-1, stock_id=??**

In [ ]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)
connection.autocommit = False

try:
    with connection.cursor() as cursor:
        
        sql = """INSERT INTO stock (amount, date, location) 
        VALUES (10, '2018-12-09', 'Room990')"""
        cursor.execute(sql)
        sql = "SELECT last_insert_id()"
        cursor.execute(sql)
        results = cursor.fetchall()   # traertodos
        stockid = results[0]['last_insert_id()']
        print(stockid)

        sql = "INSERT INTO germplasm (taxonid, alleles, stock_id) VALUES (3701, 'wus-1 clv-1', " + str(stockid) + ")"
        cursor.execute(sql)
        sql = "SELECT last_insert_id()"
        cursor.execute(sql)
        results = cursor.fetchall()  # traertodos
        germid = results[0]['last_insert_id()']
        print(germid)

        sql = """INSERT INTO gene (gene, gene_name, embl, germ_id) 
        VALUES ("WUS", 'WUSCHEL', 'http://blahblah1', """ + str(germid) + """)"""
        cursor.execute(sql)
        
        sql = """INSERT INTO gene (gene, gene_name, embl, germ_id) 
        VALUES ("CLV", 'CLAVATA', 'http://blahblah2', """ + str(germid) + """)"""
        cursor.execute(sql)

        connection.commit()   # NOTE THAT I AM FORCING THE WRITE TO THE DATABASE HERE
        
finally:
    print("")
    connection.close()  # if I close before I commit, the inserts are lost

    
%sql select * from gene;

In [ ]:
%sql use germplasm
%sql select * from germplasm;

# practice :-)

(any fortnite players?  Liking Season 4?)